<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="sample-userlist.html">
<link rel="import" href="sample-userform.html">

<dom-module id="sample-app">
  <template>
    <style  is="custom-style" include="iron-flex">
      :host {
        display: block;
      }

      app-header {
        background-color: var(--primary-color);
        color: white;
      }

      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 24px;
        border-radius: 5px;
        background-color: #fff;
      }

      app-toolbar svg {
        fill: rgba(39,174,96,1);
      }
      /*[main-title] {
        display: flex;
        align-items: center;
      }*/
      [main-title] span {
        display: inline-block;
        height: 32px;
      }
    </style>

    <paper-toast id="toast"></paper-toast>

    <app-header condenses reveals>
      <app-toolbar>
        <div main-title>
          <span>Kapton Sample with</span>
          <svg stroke="none" fill="#000" style="width: 32px; height: 32px;" width="32px" height="32px" viewBox="0 0 50 50">
              <path d="M38.87,18.81c-1.77-1-4,0.3-4.35,0.53l-7.65,4.35c-1.29-1.03-3.17-0.81-4.19,0.48
              c-1.03,1.29-0.81,3.18,0.48,4.2c1.29,1.03,3.17,0.81,4.19-0.48c0.53-0.67,0.75-1.54,0.6-2.38l7.63-4.34l0.05-0.03
              c0.5-0.32,1.66-0.79,2.21-0.48c0.39,0.22,0.62,0.96,0.63,2.05h-0.01v9.59c0,0.89-0.48,1.72-1.25,2.17L26.25,40.8
              c-0.77,0.45-1.72,0.45-2.5,0l-10.96-6.35c-0.77-0.45-1.25-1.27-1.25-2.17V19.6c0-0.89,0.48-1.72,1.25-2.17l9.92-5.74
              c1.08,1.24,2.97,1.37,4.21,0.29c1.24-1.08,1.37-2.97,0.29-4.22C26.12,6.53,24.24,6.4,23,7.48c-0.64,0.55-1.01,1.35-1.02,2.2
              L11.74,15.6c-1.43,0.83-2.31,2.35-2.31,4v12.68c0,1.65,0.88,3.18,2.3,4l10.96,6.35c1.43,0.82,3.18,0.82,4.61,0l10.96-6.35
              c1.42-0.83,2.3-2.35,2.3-4v-9.22h0.01C40.63,20.91,40.05,19.47,38.87,18.81"></path>
            </svg>
        </div>
      </app-toolbar>
    </app-header>

    <sample-userform class="card" edit-uid="{{editedUser}}"></sample-userform>
    <sample-userlist class="card" on-select-user="_onSelectUser" on-user-deleted="_onUserDeleted"></sample-userlist>

  </template>

  <script>
    class SampleApp extends Polymer.Element {

      static get is() { return 'sample-app'; }

      static get properties() {
        return {
          editedUser: String,
        }
      }

      ready() {
        this.addEventListener('message', (e) => this._displayMessage(e));
        super.ready();
      }

      _onSelectUser(e) {
        if (this.editedUser === e.detail.id) {
          this.editedUser = undefined;
        } else {
          this.editedUser = e.detail.id;
        }
      }

      _onUserDeleted(e) {
        if (this.editedUser === e.detail.id) {
          this.editedUser = undefined;
        }
      }

      _displayMessage(e) {
        this.$.toast.text = e.detail.msg;
        this.$.toast.open();
      }
    }

    customElements.define(SampleApp.is, SampleApp);
  </script>
</dom-module>
