<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="sample-graphql.html">

<dom-module id="sample-userform">
  <template>
    <style is="custom-style" include="iron-flex">
      :host {
        display: block;
      }
      paper-input {
        padding: 5px;
      }
      paper-button#createBtn {
        color: white;
        background-color: var(--accent-color);
      }
    </style>

    <div class="">
      <h2>Create or update user</h2>
      <form id="userForm" is="iron-form">
        <div class="layout horizontal">
          <paper-input style="width: 100px;" label="UID" value="{{editUid}}" disabled placeholder="New user"></paper-input>
          <paper-input class="flex" name="lastname" label="Lastname" required placeholder="Set lastname"></paper-input>
          <paper-input class="flex" name="firstname" label="Firstname" required placeholder="Set firstname"></paper-input>
          <paper-input style="width: 100px;" name="age" label="Age" type="number" min="1" max="120" required placeholder="Set age"></paper-input>
        </div>
      </form>
      <paper-button id="createBtn" raised on-tap="_create">Validate</paper-button>
      <paper-button id="resetBtn" raised on-tap="_reset">Reset</paper-button>
    </div>

  </template>
  <script>
    Polymer({
      is: 'sample-userform',

      behaviors: [
        Kapton.graphql(Kapton.SINGLE_USER, 'options'),
        Kapton.graphql(Kapton.ADD_USER, { name: 'createUser' }),
        Kapton.graphql(Kapton.UPDATE_USER, { name: 'updateUser' }),
      ],

      properties: {

        editUid: {
          type: String,
          notify: true,
        },

        options: {
          type: Object,
          computed: '_computeQueryOptions(editUid)'
        },

        data: {
          type: Object,
          observer: '_dataChanged'
        }

      },

      _computeQueryOptions: function(uid) {
        if (uid === undefined) {
          this.$.userForm.reset();
        }

        return  {
          variables: { uid: uid },
          skip: !uid,
        };
      },

      _dataChanged: function(data) {
        if (data.user) {
          this.$$('paper-input[name=lastname]').value = data.user.lastname;
          this.$$('paper-input[name=firstname]').value = data.user.firstname;
          this.$$('paper-input[name=age]').value = data.user.age;
        }
      },

      _reset: function(e) {
        this.editUid = undefined;
        this.$.userForm.reset();
      },

      _create: function(e) {
        console.log(this.$.userForm.validate());
        var promise;

        this.$.createBtn.disabled = true;
        var newUser = this.$.userForm.serialize();

        if (this.editUid) {
          // update
          promise = this.updateUser({
            variables: { uid: this.editUid, user: newUser },
            optimisticResponse: {
              updateUser: {
                __typename: 'User',
                uid: this.editUid,
                lastname: newUser.lastname,
                firstname: newUser.firstname,
                age: newUser.age,
              },
            }
          })
          .then(function(res) {
            this.fire('message', { msg: 'User "'+res.data.updateUser.uid+'" updated'});
            this.editUid = undefined;
          }.bind(this));
        } else {
          // create
          promise = this.createUser({
            variables: { user: newUser },
            optimisticResponse: {
              addUser: {
                __typename: 'User',
                uid: "-----",
                lastname: newUser.lastname,
                firstname: newUser.firstname,
                age: newUser.age,
              },
            },
            resultBehaviors: [
              {
                type: 'ARRAY_INSERT',
                resultPath: ['addUser'],
                storePath: ['ROOT_QUERY', 'users'],
                where: 'APPEND',
              }
            ]
          })
          .then(function(res) {
            this.fire('message', { msg: 'User added with UID "'+res.data.addUser.uid+'"'});
          }.bind(this))
        }

        promise.then(function(res) {
          this.$.userForm.reset();
          this.$.createBtn.disabled = false;
        }.bind(this))
        .catch(function(err) {
          console.log(err);
          this.$.createBtn.disabled = false;
          this.fire('message', { msg: 'Unable to add user'});
        }.bind(this));
      }
    });
  </script>
</dom-module>
