<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="sample-graphql.html">

<dom-module id="sample-userlist">
  <template>
    <style>
      :host {
        display: block;
      }
      a {
        color: var(--accent-color);
        text-decoration: none;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      tr.title {
        font-weight: bold;
      }
      tr.title td {
        height: 30px;
        border-bottom: solid 1px var(--primary-color);
      }
      tr.deleted {
        text-decoration: line-through;
      }
      paper-icon-button {
        color: var(--primary-color);
      }
    </style>

    <h2>User list <paper-icon-button id="reloadBtn" icon="refresh" on-tap="_refresh"></paper-icon-button></h2>
    <h4>Click on user UID to edit it</h4>
    <table>
      <tr class="title"><td>UID</td><td>Lastname</td><td>Firstname</td><td>Age</td><td>&nbsp;</td></tr>
      <template is="dom-repeat" items="{{users}}" sort="_sortByName">
        <tr class$="{{_userRowClass(item.deleting)}}">
          <td style="font-family: monospace;"><a href="#" on-tap="_selectUser">{{item.user.uid}}</a></td>
          <td>{{item.user.lastname}}</td>
          <td>{{item.user.firstname}}</td>
          <td>{{item.user.age}}</td>
          <td style="width: 30px;"><paper-icon-button icon="delete" on-tap="_delete" disabled$="{{item.deleting}}"></paper-icon-button></td>
        </tr>
      </template>
    </table>

  </template>
  <script>
    const UserListMixin = Kapton.createKaptonMixin(Kapton.graphql, Kapton.USERS_LIST);
    const DelUserMixin = Kapton.createKaptonMixin(Kapton.graphql, Kapton.DEL_USER, { name: "delete"});

    class SampleUserlist extends UserListMixin(DelUserMixin(Polymer.Element)) {

      static get is() { return 'sample-userlist'; }

      static get properties() {
        return {

          // raw graphql data
          data: Object,

          // user data extracted and decorated
          users: {
            type: Array,
            computed: '_generateUsers(data)',
          },
        }
      }

      _generateUsers(data) {
        return data.users.map(function(user) {
          return { user: user, deleting: false };
        });
      }

      _sortByName(a, b) {
        return a.user.lastname.localeCompare(b.user.lastname);
      }

      _userRowClass(deleted) {
        return deleted ? "deleted" : "";
      }

      _selectUser(e) {
        this.dispatchEvent(new CustomEvent('select-user', {detail: { uid: e.model.item.user.uid }}));
        e.preventDefault();
      }

      _refresh() {
        if (this.data) {
          this.$.reloadBtn.disabled = true;
          this.data.refetch().then(function(res) {
            this.$.reloadBtn.disabled = false;
            this.dispatchEvent(new CustomEvent('message', {detail: { msg: 'Users data reloaded' }, composed: true}));
          }.bind(this));
        }
      }

      _delete(e) {
        e.model.set('item.deleting', true);
        var user = e.model.item.user;
        this.dispatchEvent(new CustomEvent('user-deleted', {detail: { uid: user.uid }}));

        this.delete({
          variables: { uid: user.uid },
          updateQueries: {
            usersList: (prev, { mutationResult }) => {
              let uid = mutationResult.data.delUser.uid;
              return Object.assign({}, prev, { users: prev.users.filter(user => user.uid !== uid) });
            }
          }
        })
        .then(function(res) {
          this.dispatchEvent(new CustomEvent('message', {detail: { msg: 'User "'+res.data.delUser.uid+'" removed' }, composed: true}));
        }.bind(this))
        .catch(function(err) {
          this.dispatchEvent(new CustomEvent('message', {detail: { msg: 'User "'+user.uid+'" not found' }, composed: true}));
        }.bind(this));
      }

    }
    customElements.define(SampleUserlist.is, SampleUserlist);
  </script>
</dom-module>
