<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="sample-userform">
  <template>
    <style is="custom-style" include="iron-flex">
      :host {
        display: block;
      }
      paper-input {
        padding: 5px;
      }
      paper-input#uid[disabled] {
        --paper-input-container-color: var(--accent-color);
        --paper-input-container-input-color: var(--accent-color);
        --paper-input-container-disabled: {
          opacity: 1.0;
        }
      }
      paper-button#createBtn {
        color: white;
        background-color: var(--primary-color);
      }
    </style>

    <div class="">
      <h2>Create or update user</h2>
      <iron-form id="userForm">
        <form class="layout horizontal">
            <paper-input id="uid" style="width: 100px;" label="UID" value="{{editUid}}" disabled placeholder="New user"></paper-input>
            <paper-input class="flex" name="lastname" label="Lastname" required placeholder="Set lastname" disabled="{{disabled}}"></paper-input>
            <paper-input class="flex" name="firstname" label="Firstname" required placeholder="Set firstname" disabled="{{disabled}}"></paper-input>
            <paper-input style="width: 100px;" name="age" label="Age" type="number" min="1" max="120" required placeholder="Set age" disabled="{{disabled}}"></paper-input>
        </form>
      </iron-form>
      <paper-button id="createBtn" raised on-tap="_create" disabled="{{disabled}}">Validate</paper-button>
      <paper-button raised on-tap="_reset" disabled="{{disabled}}">Reset</paper-button>
    </div>

  </template>
  <script>
    const SingleUserMixin = App.createKaptonMixin(App.graphql, App.SINGLE_USER, 'options');
    const AddUserMixin = App.createKaptonMixin(App.graphql, App.ADD_USER, { name: 'createUser' });
    const UpdateUserMixin = App.createKaptonMixin(App.graphql, App.UPDATE_USER, { name: 'updateUser' });

    class SampleUserForm extends SingleUserMixin(AddUserMixin(UpdateUserMixin(Polymer.Element))) {

      static get is() { return 'sample-userform'; }

      static get properties() {
        return {
          editUid: {
            type: String,
            notify: true,
          },

          disabled: {
            type: Boolean,
            value: false,
          },

          options: {
            type: Object,
            computed: '_computeQueryOptions(editUid)'
          },

          data: {
            type: Object,
            observer: '_dataChanged'
          }
        }
      }

      _computeQueryOptions(uid) {
        if (uid === undefined) {
          this._reset();
        }

        return  {
          variables: { uid: uid },
          skip: !uid,
        };
      }

      _dataChanged(data) {
        if (data.user) {
          this.$.userForm.querySelector('paper-input[name=lastname]').value = data.user.lastname;
          this.$.userForm.querySelector('paper-input[name=firstname]').value = data.user.firstname;
          this.$.userForm.querySelector('paper-input[name=age]').value = data.user.age;
        }
      }

      _reset(e) {
        this.editUid = undefined;
        this.$.userForm.querySelector('paper-input[name=lastname]').value = '';
        this.$.userForm.querySelector('paper-input[name=firstname]').value = '';
        this.$.userForm.querySelector('paper-input[name=age]').value = '';
        //this.$.userForm.reset();
      }

      _create(e) {
        if (!this.$.userForm.validate()) {
          return this.dispatchEvent(new CustomEvent('message', { detail: { msg: 'Check input'}, composed: true }));
        }
        var newUser = this.$.userForm.serializeForm();

        var promise;
        this.disabled = true;

        if (this.editUid) {
          // update
          promise = this.updateUser({
            variables: { uid: this.editUid, user: newUser },
            optimisticResponse: {
              updateUser: {
                __typename: 'User',
                uid: this.editUid,
                lastname: newUser.lastname,
                firstname: newUser.firstname,
                age: newUser.age,
              },
            }
          })
          .then(function(res) {
            this.dispatchEvent(new CustomEvent('message', { detail: { msg: 'User "'+res.data.updateUser.uid+'" updated'}, composed: true }));
            this.editUid = undefined;
          }.bind(this));
        } else {
          // create
          promise = this.createUser({
            variables: { user: newUser },
            optimisticResponse: {
              addUser: {
                __typename: 'User',
                uid: "-----",
                lastname: newUser.lastname,
                firstname: newUser.firstname,
                age: newUser.age,
              },
            },
            updateQueries: {
              usersList: (prev, { mutationResult }) => {
                return Object.assign({}, prev, { users: [ ...prev.users, mutationResult.data.addUser ] });
              }
            }
          })
          .then(function(res) {
            this.dispatchEvent(new CustomEvent('message', { detail: { msg: 'User added with UID "'+res.data.addUser.uid+'"'}, composed: true }));
          }.bind(this))
        }

        promise.then(function(res) {
          this._reset();
          this.disabled = false;
        }.bind(this))
        .catch(function(err) {
          console.log(err);
          this.disabled = false;
          this.dispatchEvent(new CustomEVent('message', { detail: { msg: 'Unable to add user'}, composed: true }));
        }.bind(this));
      }
    }

    customElements.define(SampleUserForm.is, SampleUserForm);
  </script>
</dom-module>
